/* Mobile first = css utanför media queris är för mobil */

html {
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  background-color: olive;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #8f2424;
  padding: 20px;
  align-items: center;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  background-color: aqua;
  color: white;
}

nav .navigation {
  display: none;
  background-color: blueviolet;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
  background-color: rgb(72, 255, 0);
  padding: 5px 10px;
  border-radius: 5px;
}

/* Stil för hamburgermeny*/

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: blue;
}

.hamburger span {
  display: inline-block;
  background-color: cyan;
  width: 25px;
  height: 3px;
  margin: 4px 0;
}

main {
  display: flex;
  justify-content: center;
  background-color: brown;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0; /* Marginal över och under */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  background-color: chartreuse;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: cornflowerblue;
}

.section1 {
  color: crimson;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: rgb(93, 30, 210);
}

.section1 img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: rgb(54, 52, 122);
}

.section1Text {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerar horisontellt*/
  text-align: center; /* Centrerar texten */
  max-width: 100%;
  overflow-wrap: break-word;
}

.section1 h2 {
  width: 100%;
  font-size: 2rem;
  overflow-wrap: break-word;
  background-color: rgb(222, 135, 170);
}

.catGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  width: 100%;
  background-color: rgb(220, 167, 20);
}

.catGrid img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .navigation {
    display: flex !important;
  }

  .section1 {
    flex-direction: row;
  }

  .section1 img {
    width: 50%;
    margin-left: 20px;
  }

  .section {
    flex-direction: row;
    padding: 20px;
    margin: 10px;
    align-items: center;
  }

  .section img {
    width: 50%;
    margin-left: 20px;
  }

  .section-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section h2 {
    margin-bottom: 10px;
  }

  .section p {
    margin-bottom: 10px;
  }

  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cat-Grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    width: 100%;
  }

  .catGrid img {
    width: 100%;
    height: 100px; /* Sätter en fast höjd för bilderna */
    border-radius: 5px;
    object-fit: cover; /* Ser till att bilderna täcker sina containrar och behåller sina proportioner */
  }
}

@media (max-width: 768px) {
  nav .navigation {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .section {
    flex-direction: column;
  }
  .section img {
    width: 100%;
  }
}
